doctype html
html(lang='en')
  head
    title Provinces in the Philippines
    style
      include style.css
  body
    h1='Welcome to '+ province
    
    div
      img(src=img_1 style="width:100%;height:auto;")
    div
      img(src=img_2 style="width:50%;height:auto;")
      img(src=img_3 style="width:49%;height:auto;")
    p="there are " + population +" number of people living in the Province of Cebu "+province
    ul
      each deli in delicacy
        li=deli
    div
      p='average rating of '+province

   
    div
      p=history
      p='Average rating of '+province +' is '+ rate

    div
      h3 rate us
      button#1 1
      button#2 2
      button#3 3
      button#4 4
      button#5 5
    