doctype html
html(lang='en')
  head
    title=province
    style
      include style.css
    script(src="/jquery.js")
    script(src="/submit.js")
  body
    h1='Welcome to '+ province
    
    div
      img(src=img_1 style="width:60%;height:auto;")
    div
      img(src=img_2 style="width:30%;height:auto;")
      img(src=img_3 style="width:29%;height:auto;")
    p#p1="There are approximately " + population +" number of people living in the Province of Cebu "+province
    ul#ul
      each deli in delicacy
        li=deli
    div
      p#history=history
      p#rate='Average rating of '+province +' is '+ rate

    div
      h3#ra Rate us
      button#1 1
      button#2 2
      button#3 3
      button#4 4
      button#5 5
    